doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Manager - geeks.vc
    script(src='/jquery.min.js')
    script(src='/jquery.cookie.js')
    script(src='/core.js')
    script(src='/jquery-ui.min.js')
    script(src='/jquery.selection.js')
    script(src='/bootstrap.min.js')
    link(rel='stylesheet',href='/bootstrap.min.css')
    link(rel='stylesheet',href='/main.css')
  body
    header(class="navbar navbar-top bs-docs-nav")
      .container
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(role="presentation" )
              a(href='/') 首页
            li(role="presentation" )
              a(href='/project') 项目
            li(role="presentation" )
              a(href='/text') 静态文本
            li(role="presentation" )
              a(href='/applying') 申请资料
            li(role="presentation" )
              a(href='/user') 用户
            li(role="presentation" )
              a(href='/invite') 邀请码
            li(role="presentation" )
              a(href='/tool') 工具
            li(role="presentation" )
              a(href='/data') 数据
    .bs-docs-header
      .container
        h1 Manager
        p - geeks.vc好用的不能再好用了
    #main.container-fluid
      block content
      p.copy
        | copyright &copy; 2015 
        a(href="http://geeks.vc/",target="_blank") geeks.vc
