mixin navItem(cat, text)
    li(role="presentation",class="#{rootFolder == cat ? 'active' : ''}")
        a(href='#{cat}')= text
        
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport',content='width=device-width, initial-scale=1')
    title Manager - geeks.vc
    script(src='/jquery.min.js')
    script(src='/jquery.cookie.js')
    script(src='/core.js')
    script(src='/jquery-ui.min.js')
    script(src='/jquery.selection.js')
    script(src='/bootstrap.min.js')
    link(rel='stylesheet',href='/bootstrap.min.css')
    link(rel='stylesheet',href='/main.css')
  body
    header(class="navbar navbar-top bs-docs-nav")
      .container
        .collapse.navbar-collapse
            ul.nav.nav-pills
                +navItem('/', '首页')
                if admin.role === 1
                    +navItem('/mer', '联动优势')
                if admin.role >= 0
                    +navItem('/project', '项目')
                    +navItem('/user', '用户')
                    +navItem('/adviser', '顾问')
                    +navItem('/text', '静态文本')
                    +navItem('/applying', '申请资料')
                    +navItem('/data', '数据')
                    +navItem('/tool', '工具')
                    +navItem('/invite', '邀请码')
    #main.container-fluid
        block content
    p.copy
        | copyright &copy; 2015 
        a(href="http://geeks.vc/",target="_blank") geeks.vc
