extends _layout

include _formItem
    
block content
    include _editor
    h2 顾问详情
    form.form-horizontal(method="POST",action="/adviser/#{adviser._id || ''}")
        +inputItem('姓名', 'realname', adviser.realname)
        +inputItem('公司', 'company', adviser.company)
        +inputItem('职位', 'position', adviser.position)
        +inputItem('手机', 'mobile', adviser.mobile)
        +inputItem('E-Mail', 'email', adviser.email, 'email')
        +inputItem('微信号', 'wechat', adviser.wechat)
        +selectItem('顾问分类', 'category', plug.adviserCategories, adviser.category)
        +inputItem('参加工作时间', 'workingDate', format(adviser.workingDate, 'YYYY-MM-DD'), 'date')
        +checkItem('是否参加过咨询服务', 'handson', !!adviser.handson)
        +makeCheckList('所属行业', plug.industries, 'industry', adviser.industry || [], 'otherIndustry', adviser.otherIndustry)
        +makeCheckList('擅长领域', plug.goodAt, 'goodAt', adviser.goodAt || [], 'otherGoodAt', adviser.otherGoodAt)
        +textareaItem('经历描述', 'experience', adviser.experience)
        +textareaItem('能从那些方面给予企业帮助', 'helpScope', adviser.helpScope)
        +textareaItem('相关链接', 'links', adviser.links)
        +textareaItem('个人简介', 'intro', adviser.intro)
        +textareaItem('所属行业和擅长领域介绍', 'goodAtIntro', adviser.goodAtIntro)
        button.btn.btn-primary(type="submit") Save
        a.btn.btn-default(href="/adviser") Calcel
    +createEditor('textarea')
