extends _layout

block content
    h2 项目订单信息
    p
        a(href='/project/#{projectId}/info') 项目信息
        a(href='/project/#{projectId}/orders/export',target='_blank') 导出订单数据
        a(href='/project/#{projectId}/orders/paid/details') 付款详情
        a(href='/project') 返回
    
    include project-orders-list