extends _layout

block content
    h2
        | 项目
    p
        a(href='/project/new') 添加新项目
        ul
            each project in projects.length ? projects : ['nothing...']
                li= project.title || project
