extends _layout

block content
    h2
        | 项目
    p
        a(href='/project/new') 添加新项目
        ul
            each project, index in projects.length ? projects : ['nothing...']
                li= index + 1 + ' : ' + (project.title || project)
                    a(href='/project/#{project._id}/info') EDIT
