extends _layout

block content
    h2 项目
    p
        a(href='/project/new') 添加新项目
        ol
            each project, index in projects.length ? projects : ['nothing...']
                li
                    a(href='/project/#{project._id}/info') EDIT
                    strong= project.title || project
