extends _layout

block content
    h2 工具
    ul.nav
        li
            a(href='/tool/admin') 管理员
        li
            a(href='/tool/sms') 发送短信
        li
            a(href='/tool/mail') 发送邮件
        li
            a(href='/tool/import') 导入 VIP 数据
