extends _layout

block content

    h2 管理员
    form(method='POST')
        p
            textarea#text.form-control(name='text',rows=10)
                | #{admins}
        p
            input(type='submit',value='SEND')
            a(href='/tool') CANCEL
